<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}">

    <title>Deaf Flow Bus</title>

    <style>
        .jumbotron
        {
            padding-top: 30px;
            padding-left: 5px;
            padding-bottom:0px;
            background-size: cover;
            background: contain;
            width: 100%; /* make sure to define width to fill container */
            height: 110%; /* define the height in pixels or make sure   */
            /* you have something in your div with height */
            /* so you can see your image */
            max-width:1400px;  /* define the max width */
        }

        th {
            background-color: #0275d8;
            color: white;
        }

        .logo {
            max-width: 20%;
            max-height: 20%;
            margin-top: 25px;
        }

        .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: #EBF3FF;
        }

        .alert {
            margin-bottom: 1px;
            height: 40px;
            line-height:30px;
            padding:10px 10px;
        }

        .table {
            width: 100%;
            display: table;

        }




    </style>

</head>
<body>

<script src="/webjars/jquery/3.4.0/jquery.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="/webjars/popper.js/1.14.3/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"
        th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script>


<div class="container" style="padding-top: 20px;">
    <div style="float: right; padding-top: 20px;">
        <form th:action="@{/api/logmeout}" method="GET">
           <button type="submit" class="btn btn-outline-primary btn-sm text-primary">&nbsp;<span th:text="'Logout: ' + ${principal}"/>&nbsp;</button>
        </form>
    </div>
    <a th:href="@{../api}"><img style="float: left;" class="logo" th:src="@{/logo2.png}"/></a>
    <div class="jumbotron bg-white">

        <h2 style="margin-right: 140px; color: #185F9E;" class="display-6 text-center">Deal Flow Bus</h2>
        <p style="margin-right: 140px; padding-bottom: 30px;" class="lead text-center">Universal tool to store your investment leads</p>
    </div>



    <div style="float: left;">
        <!-- Search Form Here -->
        <form class="form-inline" th:action="@{/api/search}" method="GET">
            <div class="form-group mb-2" style="float: left;">
                <label class="sr-only">Search</label>
                <input type="search" name="query" class="form-control input-sm col-md-12" placeholder="Project Name/Owner" aria-label="Search">
            </div>
            <button type="submit" class="btn btn-outline-primary mb-2" >&nbsp;Search&nbsp;</button>
        </form>
    </div>


    <div style="float: right; padding-left: 5px;" class="btn-group">
        <button type="button" class="btn btn-outline-primary mb-2 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&nbsp;&nbsp;Sort&nbsp;&nbsp;</button>
        <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" th:href="@{/api?p=0&filter=4}">Active</a>
            <a class="dropdown-item" th:href="@{/api?p=0&filter=3}">In Progress</a>
            <a class="dropdown-item" th:href="@{/api?p=0&filter=2}">In Portfolio</a>
            <a class="dropdown-item" th:href="@{/api?p=0&filter=1}">Rejected</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/api?p=0&filter=5}">All</a>
        </div>
    </div>

    <div style="float: right; padding-left: 5px;">
        <a th:href="@{/api/statistics}" type="button" class="btn btn-outline-primary mb-2">&nbsp;Statistics&nbsp;</a>
    </div>

    <div style="float: right;">
        <a th:href="@{/api/addForm}" type="button" class="btn btn-outline-primary mb-2">&nbsp;+ Add New Lead&nbsp;</a>
    </div>

    <br>
    <br>

    <div class="alert alert-success" role="alert" th:if="${message}">
        <h6 style="float: right;" th:text="${message}"/>
    </div>
    <div  class="alert alert-danger" role="alert" th:if="${warning}">
        <h6 style="float: right;" th:text="${warning}"/>
    </div>
</div>


    <div class="container table-hover table-striped table-borderless">



        <table id="dtDynamicVerticalScrollExample" class="table mx-auto shadow p-3 mb-5 bg-white rounded" cellspacing="0"
               width="100%">

            <thead>
            <tr class="rounded-top">
                <th style="border-top-left-radius: 5px;" class="th-sm">Project Name</th>
                <th class="th-sm">Project Owner</th>
                <th class="th-sm">Field</th>
                <th class="th-sm">In Progress</th>
                <th class="th-sm">Date of Arrival</th>
                <th style="border-top-right-radius: 5px;" class="th-sm">Last Touched</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lead : ${leads}" style="cursor: pointer"
                th:onclick="'javascript:rowClicked(\'' + ${lead.id} + '\');'">
                <td><a class="font-weight-normal"  th:text="${lead.projectName}"></a></td>
                <td class="font-weight-light" th:text="${lead.projectOwner}"/>
                <td class="font-weight-light" th:text="${lead.field}"/>
                <td class="font-weight-light" th:text="${lead.inProgress}"/>
                <td class="font-weight-light" th:text="${lead.dateArrival}"/>
                <td class="font-weight-light" th:text="${lead.lastTouched}"/>
            </tr>
            </tbody>
        </table>


        <div class="text-center">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item text-center" th:each="i: ${pageNumbers}">
                        <a th:href="@{/api(p=${i}, filter=${filter})}" th:text="${i} + 1 " class="page-link"></a>
                    </li>
                </ul>
            </nav>

        </div>

    </div>


    <div class="text-center">
        <p class="text-muted" style="padding-top: 20px;">DealFlowBus 2020</p>

    </div>
    <div class="text-center">
        <a href="https://github.com/darkonion/DealFlowBus"><img style="max-width: 70%;, max-height: 70%;" th:src="@{/gitlogo.png}"></a>
    </div>
    <br>

<script>
    function rowClicked(value) {
        location.href = "/api/lead?leadId=" + value;
    }
</script>


</body>
</html>
